@model AppointmentDto;
@{
    ViewData["Title"] = "Appointment";
}
<!---------------------------------------------[Main Content Start]---------------------------------------------->
<div class="shadow shadow-primary shadow-intensity-lg p-3">
    <div class="card-body">
        <h2 class="h5 mb-4 fw-bold">Appointment Info</h2>
        <form method="POST" asp-controller="appointment" asp-action="add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row align-items-center">
                <div class="col-md-6 mb-3">
                    <div>
                        <label for="officer">Officer</label><span style="color:red">*</span>
                        <span asp-validation-for="OfficerId" class="text-danger"></span>
                        <select style="width: 100%" asp-for="OfficerId" class="select2 form-control" id="officer">
                            <option value="">--SELECT--OFFICER--</option>
                            @foreach (var item in ViewBag.Officers as List<SelectModel>)
                            {
                                <option value="@item.Value">@item.Option</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div>
                        <label for="visitor">Visitor</label><span style="color:red">*</span>
                        <span asp-validation-for="VisitorId" class="text-danger"></span>
                        <select style="width: 100%" asp-for="VisitorId" class="select2 form-control" id="post">
                            <option value="">--SELECT--VISITOR--</option>
                            @foreach (var item in ViewBag.Visitors as List<SelectModel>)
                            {
                                <option value="@item.Value">@item.Option</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6 mb-3">
                    <div>
                        <label for="name">Name</label><span style="color:red">*</span>
                        <span asp-validation-for="Name" class="text-danger"></span>
                        <input asp-for="Name" class="form-control" id="name" type="text" placeholder="Name">
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div>
                        <label for="date">Date</label><span style="color:red">*</span>
                        <span asp-validation-for="Date" class="text-danger"></span>
                        <input asp-for="Date" class="form-control" id="name" type="date" placeholder="date">
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6 mb-3">
                    <div>
                        <label for="start-time">Start Time</label><span style="color:red">*</span>
                        <span asp-validation-for="StartTime" class="text-danger"></span>
                        <input asp-for="StartTime" class="form-control" id="start-time" type="time">
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div>
                        <label for="work-end-time">End Time</label><span style="color:red">*</span>
                        <span asp-validation-for="EndTime" class="text-danger"></span>
                        <input asp-for="EndTime" class="form-control" id="end-time" type="time">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-sm btn-primary d-inline-flex align-items-center">
                <i class="fa-solid fa-circle-plus"></i>&nbsp;Add
            </button>
            <hr />
            <p><b>Note:</b> <span style="color:red; font-size: 17px;">*</span> Fields are mandatory.</p>
        </form>
    </div>
</div>
<!----------------------------------------------[Main Content End]----------------------------------------------->

<script>
    $(document).ready(function () {
        // Apply Select2 to the dropdown
        $('.select2').select2();
    });
</script>